@model IEnumerable<Jinaidah.Models.HoldingInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
    <div class="col-md-6">
        <div class="float-md-right">
            @*<h4 class="text-primary"> @ViewBag.count</h4>*@
            <form asp-action="Index" class="form-inline" method="post">

                <input type="text" name="usrtext" value="@ViewBag.data" class="form-control" placeholder="Search...." />

                <button class="btn btn-success" type="submit">Search</button>

            </form>

        </div>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoldingNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoldingTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoldingCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientInfo)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoldingNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoldingTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoldingCategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientInfo.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
