@model Jinaidah.Models.TaxRate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaxRate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxItemSetting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxItemSetting.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldingType.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldingCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldingCategory.TypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
