@model Jinaidah.Models.WaterConnection

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3 class="btn btn-danger">Are you sure you want to delete this?</h3>
<div>
    <h4>WaterConnection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectionDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectionDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorNos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorNos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldingInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldingInfo.Address)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
