@model Jinaidah.Models.WaterRate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WaterRate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorNos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorNos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FineRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FineRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldingType.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterConnection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterConnection.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
